* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h2 {
  text-align: center;
  color: sienna;
  font-size: 2rem;
  margin: 3.5rem;
}
.text {
  color: black;
  font-size: 0.8rem;

  margin: 0.5rem;
}

main {
  margin: 2rem;
}

button {
  background-color: coral;
  border: solid coral;
  height: 3rem;
}

body {
  font-family: 'Kaisei HarunoUmi', serif;
}

@media screen and (min-width: 440px) {
  .text {
    color: black;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
  }
}
