* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h2 {
  text-align: center;
  color: sienna;
  font-size: 2.2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  @media screen and (min-width: 440px) {
    font-size: 2rem;
  }
}
.text {
  color: black;
  font-size: 0.9rem;

  margin: 0.5rem;
}

button {
  background-color: coral;
  border: solid coral;
  height: 3rem;
}

body {
  font-family: "Kaisei HarunoUmi", serif;
}

@media screen and (min-width: 440px) {
  .text {
    color: black;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
  }
}
h1 {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  color: aliceblue;
  font-weight: 200;

  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  @media screen and (min-width: 440px) {
  font-size: 4rem;
  }
}
.s-top {
  position: relative;
  padding: 0px;
  margin: 0px;
  //background-color: sandybrown;
  img {
    width: 100vw;
  }
}
.sign {
  margin-right: 2rem;
  margin-left: 2rem;
}
.front {
  margin-left: 2rem;
  margin-right: 2rem;
}
