footer {
  background-color: darkgoldenrod;
  color: white;
  padding: 2rem;
  text-align: center;
  padding: 1rem;
}
.info {
  font-size: 0.8rem;
}
.pro {
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
}
.fbar {
  font-size: 1rem;
  flex: none;

  padding-top: 2rem;
  text-align: center;
}
.copy {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
.fp {
  margin: 1rem;
  text-decoration: none;
  color: white;
}
