footer {
  //background: url(../image/paturn.png);
  background-color: rgb(187, 221, 221);
  color: white;
  z-index: 90;
  position: relative;
  text-align: center;
  //padding-left: 10rem;
  //padding-right: 10rem;
  //padding-bottom: 1rem;
  //padding-top: 3rem;
}
.info {
  font-size: 0.8rem;
}
.pro {
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
}
.fbar {
  //font-size: 0.5rem;

  //display: flex;
  padding-top: 2rem;
  text-align: center;

  //justify-content: space-between;
  box-sizing: border-box;
  .item {
    text-decoration: none;
    color: aliceblue;
    justify-content: space-between;
    //background-color: hotpink;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.copy {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
.fp {
  margin: 1.5rem;
  text-decoration: none;
  color: white;
  a {
    text-decoration: none;
  }
}

.contact1 {
  //position: fixed;
  background-color: rgb(187, 221, 221);
  width: 100%;
  height: 80px;
  padding-top: 50px;

  margin-right: 0%;
  margin-left: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 50;

  @media screen and (min-width: 745px) {
    //background-color: rgb(221, 187, 187);
    width: 15%;
    margin-right: 0%;
    margin-left: 70%;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    height: 40px;

    animation: fluffy1 3s ease infinite;
    @keyframes fluffy1 {
      0% {
        transform: translateY(0);
      }
      5% {
        transform: translateY(0);
      }
      10% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-15px);
      }
      25% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-15px);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }
    a {
      text-decoration: none;

      //background-color: hotpink;
    }
    a:hover {
      //background-color: khaki;
      width: 200%;
      font-size: 1.8rem;
    }
  }
}

.sns {
  font-size: 2.5rem;
  //background-color: hotpink;
  i {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
