h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;

  @media screen and (min-width: 480px) {
    font-size: 2rem;
    margin-top: 9rem;
  }
}
.seat-title {
  font-size: 1.2rem;
  text-align: center;
  color: chocolate;
  @media screen and (min-width: 480px) {
    font-size: 1.8rem;
    //margin-top: 2rem;
  }
}
.seat-text {
  font-size: 0.9rem;
  margin: 1rem;
}
@media screen and (min-width: 981px) {
  .s-box {
    //background-color: aqua;
    padding: 2rem;
    width: 50vw;
    //position: absolute;
  }

  .seat-box {
    display: flex;
    align-items: flex-start;
    //flex-direction: row;
    //justify-content: space-between;
    //flex-direction: column;

    img {
      width: 45vw;
    }
  }
  .seat-box:nth-child(even) {
    flex-direction: row-reverse;
  }

  .seat-text {
    font-size: 1rem;
    padding-top: 3rem;
    //position: relative;
  }
  .ctext {
    padding: 1rem;
  }
}

.safter {
  //display: flex;
  margin-top: 3rem;
  text-align: center;
  img {
    height: 10rem;
    @media screen and (min-width: 480px) {
      height: 15rem;
    }
  }
}
