//サービス、種類ページ//

.sblok {
  //flex: auto;
  border: 1px solid;
  border-color: darkgoldenrod;
  margin-bottom: 3rem;
  padding: 1rem;
  box-shadow: 8px 5px 20px gray;
  text-align: center;
}

.stitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
  //text-decoration: underline grey;
}

@media screen and (min-width: 800px) {
  .sbox {
    display: flex;
    //flex: 4;
    width: 100%;
    flex-wrap: wrap;
    //background-color: greenyellow;
    
    

  }
  .sblok {
    margin: 1rem;
    //background-color: yellowgreen;
    width: 25%;
    //padding-bottom: 5px;
    //flex-wrap: wrap;
    //padding-bottom: 0px;
  }
}

.button03 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  //width: 100%;
  color: white;
  font-size: 18px;
  //font-weight: 700;
  border: 1px solid gray;
  background-color: gray;
  text-decoration: none;
  transition: 0.5s;
}

.button03 a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}

.button03 a:hover {
  color: #333333;
  text-decoration: none;
  background-color: white;
}

.button03 a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}
.ink {
  display: flex;
  flex-wrap: wrap;
  //background-color: aqua;
  padding: 0;
  margin: 0;

  //flex-grow: 1;
  .spase {
    width: 5rem;
    height: 4px;
  }
  img {
    width: 25vw;

    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.4rem;
    //flex-grow: 1;
  }
}
@media screen and (min-width: 800px) {
  .ink {
    display: flex;
    flex-wrap: wrap;
    //background-color: aqua;
    padding: 0;
    margin: 0;
    //text-align: center;
    .spase {
      width: 10rem;
      height: 4px;
    }
    //flex-grow: 1;
    img {
      width: 19vw;

      padding-right: 0.2rem;
      padding-left: 0.2rem;
      padding-bottom: 0.4rem;
    }
  }
}
